/* css styles */

.mycode {
    font-size: 15px; 
    font-weight: 400; 
    font-family: 'unibody-8-new', sans-serif;
}

.mycode strong {
    font-size:18px;
    font-weight:600;
    font-family:proxima-nova,sans-serif;
}
